<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="avalonia-accelerate" value="https://accelerate-nuget-feed.avaloniaui.net/v3/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <avalonia-accelerate>
            <add key="Username" value="license"/>
            <add key="ClearTextPassword" value="%AvAccelerateKey%"/>
        </avalonia-accelerate>
    </packageSourceCredentials>
    <packageSourceMapping>
        <packageSource key="api.nuget.org">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="avalonia-accelerate">
            <package pattern="Avalonia.Controls.WebView"/>
            <package pattern="Avalonia.Controls.MediaPlayer"/>
        </packageSource>
    </packageSourceMapping>
</configuration>
